.forecast-card {
    border: 1px solid #979797;
    border-bottom: 5px solid black;
    padding: 10px;
    line-height: 1.5em;
    margin: 10px 0px;

    .header {
        display: flex;
        gap: 10px;
        align-items: flex-start;
        margin-bottom: 20px;

        .title {
            font-weight: bold;
            font-size: 22px;
            flex-grow: 1;
            text-decoration: underline;
            color: #0082FF;
            margin-top: 3px;
            margin-right: 50px;
            line-height: 1.25;
        }
    }

    .content {
        display: flex;
        justify-content: space-between;

        .left {
            margin-right: -40px;

            .left-top {
                display: flex;
            }

            @media (max-width: 70em) {
                .left-top {
                    flex-direction: column;
                }
            }

            .left-bottom {
                max-width: 85%;
            }
        }

        .right {
            max-width: 210px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin-left: -50px;
        }
    }

    .card-footer {
        margin-top: 10px;

        .updated-timestamp {
            font-size: 12px;
            text-align: center;
        }
    }
}