// =========== GlanceField ===========

.glance-field {
    .wrapper {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    .label {
        font-size: 12px;
        text-transform: uppercase;
        margin-right: 10px;
        text-align: right;
        width: 50px;
        line-height: 1.5em;
    }

    .data {
        font-weight: bold;
        font-size: 23px;
        border: 1px solid black;
        width: 50px;
        display: flex;
        height: 50px;
        align-items: center;
        justify-content: center;
        width: 50px;
        flex-grow: 1;
        text-align: center;
    }

    .wide {
        width: 100px !important;
    }

    .no-margin {
        margin-bottom: 0;
    }
}

// =========== RequirementTag ===========

.requirement-tag {
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    background-color: #818181;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    padding: 2px 30px 0 30px;

    &.white {
        background-color: white;
        color: black;
        border: 1px solid black;
    }

    .inner {
        line-height: 1;
        padding-bottom: 2px;
    }
}


// =========== GlanceId ===========

.glance-id {
    font-weight: bold;
    font-size: 22px;
    background-color: #F0F0F0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2px;
    padding: 6px 6px;

    .prefix-content {
        margin-right: 10px;
    }
}


// =========== InfoBox ===========

.info-box {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    .label {
        display: block;
        font-size: 12px;
        text-transform: uppercase;
        margin-right: 15px;
        min-width: 170px;
        margin-bottom: 7px;
    }

    .content {
        padding: 15px;
        border: 1px solid black;
    }
}

// =========== LabelValue ===========


.label-value {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    &.inline {
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    &.inline .label {
        text-align: right;
        margin-bottom: 0;
    }

    &.no-margin {
        margin-bottom: 0 !important;
    }

    &.reverse {
        flex-direction: column-reverse;
        gap: 10px;
    }

    .label {
        display: block;
        font-size: 12px;
        text-transform: uppercase;
        margin-right: 15px;
        min-width: 170px;
        /*margin-bottom: 7px;*/
    }

    .value {
        font-size: 19px;
        font-weight: bold;
    }
}
