.ChipsHeading {
    text-transform: uppercase;
    font-size: 0.8rem;
    padding-right: 15px;
    flex-shrink: 0;
}

.NoChips {
    text-transform: uppercase;
    font-size: 0.8rem;
    padding-right: 15px;
}