.HomeHeader {
    background-color: #0F304C;
    height: 200px;
    color: white;
    display: flex;
    align-items: center;
    padding: 50px;
}

.BrowseCTA {
    height: 250px;
    display: flex;
    background-color: #ECECEC;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 40px;
}

.BrowseCTACircle {
    height: 100px;
    width: 100px;
    background-color: #D9D9D9;
    border-radius: 500px;
}

.Star {
    padding: 0px 4px;
    color: #C1A783;
    height: 12px;
    width: 12px;
}

.IntroMessage {
    line-height: 1.25rem;
}

.AnnouncementHeading {
    font-size: 2.75rem;
    padding: 5px 0px 15px;
    font-family: EB Garamond, Times, Serif;
}

.AnnouncementContent {
    /* padding-top: 20px; */
}

.AnnouncementItem {
    display: flex;
    flex-direction: column;
    margin: 50px 0px;
}

.AnnouncementDate {
    font-size: 0.8rem;
    color: #838181;
    padding-bottom: 1rem;
    font-weight: 700;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.AnnouncementTitle {
    font-size: 1.7rem;
    line-height: 1.75rem;
    font-weight: 600;
    color: #49729F;
    font-family: EB Garamond, Times, Serif;
}

.FeaturedSection {
    padding: 40px 50px;
    background: url(https://www.state.gov/wp-content/themes/state/images/wavy-bg.jpg) repeat;
}

.FeaturedHeading {
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: 10px 0px 15px;
    font-family: EB Garamond, Times, Serif;
    letter-spacing: 0.225em;
    font-weight: 500;
}

.FeaturedDivider {
    width: 100px;
    border: 1px solid #C1A783;
}

.FeaturedContent {
    padding-top: 20px;
}

.FeaturedItem {
    display: flex;
    flex-direction: column;
    padding: 30px;
    border: 1px #7C8791 solid;
    margin: 20px 0px;
    background-color: white;
    cursor: pointer;
}

.FeaturedDate {
    font-size: 0.8rem;
    color: #838181;
    padding-bottom: 1rem;
    font-weight: 700;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.FeaturedTitle {
    font-size: 1.7rem;
    line-height: 1.75rem;
    font-weight: 600;
    color: #49729F;
    font-family: EB Garamond, Times, Serif;
}

.HighlightTitle {
    font-size: 1.6rem;
    max-width: 400px;
    padding-bottom: 20px;
}

.HighlightMessage {
    padding-right: 20px;
    line-height: 1.25rem;
}

.HighlightPhoto {
    height: 80px;
    width: 80px;
    background-color: #D9D9D9;
    border-radius: 500px;
    margin-right: 20px;
}

.HighlightRole {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 500;
    color: #838181;
    letter-spacing: 0.125rem;
    padding-bottom: 0.5rem;
}

.HighlightAuthor {
    font-size: 1.7rem;
    font-family: EB Garamond, Times, Serif;
}