.filter-section .usa-accordion__button {
    background-color: transparent !important;
    padding: 0.5rem 0rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    background-position: right 0rem center;
    align-items: center;
}

.filter-section .usa-checkbox__label {
    font-size: 1rem;
    padding-left: 1.75rem;
}

.filter-section .usa-checkbox__label::before {
    height: 1rem;
    width: 1rem;
    margin-top: 0.15rem;
}

.clear-button {
    cursor: pointer;
    background-color: transparent !important;
    flex-shrink: 0;
}

.chips-heading {
    text-transform: uppercase;
    font-size: 0.8rem;
    padding-right: 15px;
    flex-shrink: 0;
}

.no-chips {
    text-transform: uppercase;
    font-size: 0.8rem;
    padding-right: 15px;
}

.filter-chip {
    border-radius: 50px;
    font-size: 0.85rem;
    font-weight: 500;
    background-color: #595959;
    color: white;
    padding: 0px 8px 0px 12px;
    margin: 3px;
    display: flex;
    align-items: center;

    .delete-button {
        cursor: pointer;
        padding: 3px;
        padding-left: 13px;
    }

    .delete-button:after {
        display: inline-block;
        content: "\00d7";
        zoom: 150%;
    }
}