.ForecastDetail .RecordUpdated {
    font-size: 15px;
    font-style: italic;
}

.ForecastDetail .Description {

}

.ForecastDetail .GlanceColumn {

}

.ForecastDetail .BackToResults {
    font-size: 12px;
    text-decoration: underline;
    color: #0a314d;
}