.filter-section .usa-accordion__button {
    background-color: transparent !important;
    padding: 0.5rem 0rem;
    font-weight: 500;
    background-position: right 0rem center;
    font-size: 1rem;
}


.filter-section .usa-checkbox__label {
    font-size: 1rem;
    padding-left: 1.75rem;
}

.filter-section .usa-checkbox__label::before {
    height: 1rem;
    width: 1rem;
    margin-top: 0.15rem;
}
