@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@trussworks/react-uswds/lib/index.css';
@import './preflight.css';

@import './fonts.css';
@import './dos-site.css';
@import './uswds_overrides.css';

@import './ForecastList.css';