.LabelDataWrapper {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.Label {
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    margin-right: 15px;
    min-width: 170px;
    /*margin-bottom: 7px;*/
}

.Value {
    font-size: 19px;
    font-weight: bold;
}

.Inline {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.Inline .Label {
    text-align: right;
    margin-bottom: 0;
}

.NoMargin {
    margin-bottom: 0 !important;
}

.Reverse {
    flex-direction: column-reverse;
    gap: 10px;
}