.ListingCard {
    border: 1px solid #979797;
    border-bottom: 5px solid black;
    padding: 10px;
    line-height: 1.5em;
    margin: 10px 0px;
}

.ListingCardInner {}

.ListingCardHeader {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
}

.Title {
    font-weight: bold;
    font-size: 22px;
    display: inline-block;
    flex-grow: 1;
    text-decoration: underline;
    color: #0082FF;
}

.ListingCardContentWrapper {
    display: flex;
    justify-content: space-between;
}

.ListingCardLeft {
    margin-right: -50px;
}

.ListingCardRight {
    max-width: 210px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: -50px;
}

.TopGridWrapper {
    display: flex;
}

.TopGridLeft {}

.TopGridRight {}

.BottomGridWrapper {
    max-width: 85%;
}

.ListingCardFooter {
    margin-top: 10px;
}

.Updated {
    font-size: 12px;
    text-align: center;
}