.usa-breadcrumb {
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    line-height: 20px;
    max-width: 700px;
    font-family: unset !important;
}

.usa-breadcrumb a,
.usa-breadcrumb a:hover,
.usa-breadcrumb a:active,
.usa-breadcrumb a:visited {
    color: #000;
    font-weight: 700;
    text-decoration: underline;
}