.InfoBoxWrapper {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.ContentWrapper {
    padding: 15px;
    border: 1px solid black;
}

.Label {
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    margin-right: 15px;
    min-width: 170px;
    margin-bottom: 7px;
}
